{% extends 'task/usercenterbase.html' %}
{% load staticfiles %} <!-- New line -->



{% block title_block %}
        UserCenter/Change your Password
{% endblock %}

{% block link_block %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static "css/usercenter.css" %}" />
<script src ="{% static "js/password-matcher.js" %}" crossorigin="anonymous"></script>
{% endblock %}

{% block nav_block %}
        <c>UserCenter/Change your Password</c>
{% endblock %}

{% block banner_block %}
        <div class="box clearfix">
        <div class="nav_box">
                 <div class="shell">
                        <a href="#" class="boxa"><span>List</span></a>
                        <a href="{% url 'task:posttask' %}" class="boxa"><span> Post a Task</span></a>
                        <a href="{% url 'task:accepttask' %}" class="boxa"><span>Accepted Tasks</span></a>
                        <a href="{% url 'task:modifytheinformation' %}" class="boxa"><span>Modify your information </span></a>
                        <a href="{% url 'task:changepassword' %}" class="boxa"><span>Change your password</span></a>
                        <a href="{% url 'task:logout' %}" class="boxa"><span>Logout</span></a>
                </div>

        </div>
                <div class="trbox">

                        <div class="trboxleft">

                                <label for="password">Password</label>
                                <input type="password" class="inputconf"  name="confirmpassword" placeholder="Enter your new password">

                                <form id="changepassword" method="post" action="{% url 'task:changepassword' %}">
                                        {% csrf_token %}

                                        <label for="password"> Password</label>
                                        <input type="password" class="inputpass"  name="password" placeholder="Confirm your new password">

                                        <input type="submit" class="btn" value="Submit">
                                </form>
                                </div>

                        <div class="trboxright">
                                <img src="{% static 'images/Welcome.png' %}" alt="Picture of Welcome" />
                                </div>
                </div>



        </div>



{% endblock %}

{% block nav2_block %}
        <a href="{% url 'task:usercenter' %}">User Center Home Page</a>
{% endblock %}