{% extends 'task/usercenterbase.html' %}
{% load staticfiles %} <!-- New line -->



{% block title_block %}
        UserCenter/Post task/list
{% endblock %}

{% block link_block %}
<link rel="stylesheet" href="{% static "css/usercenter.css" %}" />
<link rel="stylesheet" href="{% static "css/SingleBoxStyle.css" %}" />
<link rel="stylesheet" href="{% static "css/taskpagestyle.css" %}" />
{% endblock %}

{% block nav_block %}
        <c>UserCenter/Post task/list</c>
{% endblock %}

{% block banner_block %}
        <div class="box clearfix">
        <div class="nav_box">
                 <div class="shell">
                <a href="#" class="boxa"><span>List</span></a>
                <a href="{% url 'task:posttask' %}" class="boxa"><span> Post Task</span></a>
                <a href="{% url 'task:accepttask' %}" class="boxa"><span>Accept Task</span></a>
                <a href="{% url 'task:modifytheinformation' %}" class="boxa"><span>Modify the information </span></a>
                <a href="{% url 'task:changepassword' %}" class="boxa"><span>Change the password</span></a>
                <a href="{% url 'task:logout' %}" class="boxa"><span>Logout</span></a>
                </div>

        </div>
                <div class="accepttbox">

                        <div class="trboxleft">

                                UserName: {{user.username}}

                                </div>

                        <div class="trboxright">
                                <a href="#"><button class="b2">Completed/not completed</button></a>

                                </div>
                </div>

                <div class="saccepttbox">
                        {% for task in Tasks %}
                        <div class="singlebox">
                            <img src="{% static 'images/Welcome.png' %}" alt="Picture of Welcome" />
                            <p class="review">{{task.task_description}}</p>

                        <div class="info">
                            <h4> <a href="/taskpage/{{ task.slug }}">{{task.task_title}}</a></h4>
                            <em>|</em>
                            <span> {{task.publisher}}</span><br>
                            {% if task.receiver == None %}
                                <sp>Task not accepted yet</p>
                            {% else %}
                                <sp>Task Receiver: {{task.receiver}}</p>
                            {% endif %}
                            </div>

                        <div class="appraise">{{task.release_time}}</div>
                        {% if task.completion_state %}
                                <p>&#10004</p>
                                {% else %}
                                <p>&#10008</p>
                                {% endif %}
                        </div>
                        {% endfor %}
                        
                    
                        

                        
                        <div>
                            
                         <div class="nav4">
                            {% if Tasks.has_previous %}
                            <a href="?page=1">&laquo First Page</a>
                            <a href="?page={{ Tasks.previous_page_number }}">Previous Page</a>
                            {% endif %}
                            {% if Tasks.has_next %}
                            <a href="?page={{ Tasks.next_page_number }}">Next Page</a>
                            <a href="?page={{ Tasks.paginator.num_pages }}">Last Page &raquo</a>
                            {% endif %}
                            {% if Tasks.has_previous %}<a href="?page={{ Tasks.previous_page_number }}">{{ Tasks.previous_page_number }}</a>{% endif %}
                            <a href="#">{{ Tasks.number }}</a>
                            {% if Tasks.has_next %}<a href="?page={{ Tasks.next_page_number }}">{{ Tasks.next_page_number }}</a>{% endif %}
                            <br>{{ Tasks}}<br>

                        
                        </div>
                            


                        </div>
                    </div>



        </div>



{% endblock %}

{% block nav2_block %}
        <a href="{% url 'task:usercenter' %}">User Center Home Page</a>
{% endblock %}
