{% extends 'task/base.html' %}
{% load staticfiles %} <!-- New line -->



{% block title_block %}
        Login
{% endblock %}

{% block link_block %}
<link rel="stylesheet" href="{% static "css/login.css" %}" />
{% endblock %}

{% block nav_block %}
        <c>Login</c>
        <a href="{% url 'task:index' %}">HomePage</a>
{% endblock %}

{% block banner_block %}
        <div class="sub_banner">
                <div class="loginBox">
                        <div class="ImgBox"> <img src="{% static 'images/Welcome.png' %}" alt="Picture of Welcome" /> </div>
                        {% if error %}
                        <div class="ErrorBox"><p>{{ error }}</p></div>
                        {% endif %}
                        <form action="{% url 'task:login' %}" method="POST" class="form" >
                                {% csrf_token %}

                                <input type="text" name="username" placeholder="Username" class="input" />
                                <input type="password" name="password" placeholder="Password" class="input" />
                                <a href="{% url 'task:register' %}" class="link">Not got an account?</a>
                                <input type="submit" value="Login" button class="btn" >
                        </form>
                </div>
        </div>

{% endblock %}

{% block nav2_block %}
        <a href="{% url 'task:about' %}">About</a>
{% endblock %}