{% extends 'task/usercenterbase.html' %}
{% load staticfiles %} <!-- New line -->



{% block title_block %}
        UserCenter/Modify the information
{% endblock %}

{% block link_block %}
    <link rel="stylesheet" href="{% static "css/usercenter.css" %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'JS/pic_upload.js' %}"></script>
{% endblock %}

{% block nav_block %}
        <c>UserCenter/modify the information</c>
{% endblock %}

{% block banner_block %}
        <div class="box clearfix">
        <div class="nav_box">
                 <div class="shell">
                <a href="#" class="boxa"><span>List</span></a>
                <a href="{% url 'task:posttask' %}" class="boxa"><span> Post a Task</span></a>
                <a href="{% url 'task:accepttask' %}" class="boxa"><span>Accepted Tasks</span></a>
                <a href="{% url 'task:modifytheinformation' %}" class="boxa"><span>Modify your information </span></a>
                <a href="{% url 'task:changepassword' %}" class="boxa"><span>Change your password</span></a>
                <a href="{% url 'task:logout' %}" class="boxa"><span>Logout</span></a>
                </div>

        </div>
                <div class="trbox">

                        <div class="trboxleft">
                                <form id="UserModifyForm" method="post" action="{% url 'task:modifytheinformation' %}"
                                      enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <label for="first_name">First name</label>
                                        <input type="text"  name="first_name" placeholder="John">

                                        <label for="last_name"> Family Name</label>
                                        <input type="text"  name="last_name" placeholder="Smith">

                                         <label for="email"> Email</label>
                                        <input type="text"  name="email" placeholder="John_Smith@example.com">

                                        <label for="phone_number"> Phone number</label>
                                        <input type="text"  name="phone_number" placeholder="+44700900079">

                                <input type="submit" value="Submit">
                                </form>
                                </div>

                        <div class="trboxright">
                        {% if request.user.userprofile.picture %}
                                <img id="profileImage" src="{{request.user.userprofile.picture.url}}" alt="Profile pic" height="300" />
                        {% else %}
                                <img id="profileImage" src="{% static 'images/Welcome.png' %}" alt="Picture of Welcome" />
                        {% endif %}
                                <form id="imageForm" method="post" enctype=multipart/form-data>
                                    {% csrf_token %}
                                    <input id='uploadPicture' type='file' name="picture" accept="image/jpeg, image/png" hidden/>
                                    <input id='uploadButton' class="b2" type='button' value='Upload Profile Picture' />
                                </form>
                        </div>
                </div>



        </div>



{% endblock %}

{% block nav2_block %}
        <a href="{% url 'task:usercenter' %}">User Center Home Page</a>
{% endblock %}