{% extends 'task/usercenterbase.html' %}
{% load staticfiles %} <!-- New line -->



{% block title_block %}
        UserCenter/Modify the information
{% endblock %}

{% block link_block %}
<link rel="stylesheet" href="{% static "css/usercenter.css" %}" />
{% endblock %}

{% block nav_block %}
        <c>UserCenter/modify the information</c>
{% endblock %}

{% block banner_block %}
        <div class="box clearfix">
        <div class="nav_box">
                 <div class="shell">
                <a href="#" class="boxa"><span>List</span></a>
                <a href="{% url 'task:posttask' %}" class="boxa"><span> Post Task</span></a>
                <a href="{% url 'task:accepttask' %}" class="boxa"><span>Accept Task</span></a>
                <a href="{% url 'task:modifytheinformation' %}" class="boxa"><span>Modify the information </span></a>
                <a href="{% url 'task:changepassword' %}" class="boxa"><span>Change the password</span></a>
                <a href="{% url 'task:logout' %}" class="boxa"><span>Logout</span></a>
                </div>

        </div>
                <div class="trbox">

                        <div class="trboxleft">

                                <form>
                            <label for="first_name">First name</label>
                            <input type="text"  name="first_name" placeholder="">

                            <label for="last_name"> Family Name</label>
                            <input type="text"  name="last_name" placeholder="">

                             <label for="email"> Email</label>
                            <input type="text"  name="email" placeholder="">

                            <label for="phone_number"> Phone number</label>
                            <input type="text"  name="phone_number" placeholder="">

                                <input type="submit" value="Submit">
                                </form>
                                </div>

                        <div class="trboxright">
                                <img src="{% static 'images/Welcome.png' %}" alt="Picture of Welcome" />
                                <a href="#"><button class="b2">Upload user's photo</button></a>
                                </div>
                </div>



        </div>



{% endblock %}

{% block nav2_block %}
        <a href="{% url 'task:usercenter' %}">User Center Home Page</a>
{% endblock %}