{% extends 'task/usercenterbase.html' %}
{% load staticfiles %} <!-- New line -->



{% block title_block %}
        UserCenter/PostTASK
{% endblock %}

{% block link_block %}
<link rel="stylesheet" href="{% static "css/usercenter.css" %}" />
{% endblock %}

{% block nav_block %}
        <c>UserCenter</c>
{% endblock %}

{% block banner_block %}
        <div class="box clearfix">
        <div class="nav_box">
                 <div class="shell">
                <a href="{% url 'task:list' %}" class="boxa"><span>List</span></a>
                <a href="{% url 'task:posttask' %}" class="boxa"><span> Post Task</span></a>
                <a href="{% url 'task:accepttask' %}" class="boxa"><span>Accept Task</span></a>
                <a href="{% url 'task:modifytheinformation' %}" class="boxa"><span>Modify the information </span></a>
                <a href="{% url 'task:changepassword' %}" class="boxa"><span>Change the password</span></a>
                <a href="#" class="boxa"><span>Logout</span></a>
                </div>

        </div>
                <div class="trbox">

                        <div class="trboxleft">

                                <form>
                            <label for="taskname">Task Title</label>
                            <input type="text"  name="taskname" placeholder="">

                            <label for="Release_time"> Release time</label>
                            <input type="text"  name="Release_time" placeholder="dd/mm/yy">

                        <label for="state"> State</label>
                        <select  name="state">
                              <option value="Finish">Finished</option>
                              <option value="Unfinish">Unfinished</option>
                            </select>

                                <input type="submit" value="Submit">
                                </form>
                                </div>

                        <div class="trboxright">
                                <a href="#"><button class="b2">List</button></a>
                                <img src="{% static 'images/Welcome.png' %}" alt="Picture of Welcome" />
                                <a href="#"><button class="b2">Upload task's photo</button></a>
                                </div>
                </div>

                <div class="strbox">
                     <form>
                            <label for="taskcontent">Task content:</label>
                            <input type="taskcontent"  name="taskcontent" placeholder="">
                         </form>
                </div>

        </div>



{% endblock %}

{% block nav2_block %}
        <a href="{% url 'task:usercenter' %}">User Center Home Page</a>
{% endblock %}