

{% extends 'task/usercenterbase.html' %}
{% load staticfiles %} <!-- New line -->



{% block title_block %}
        Task Page
{% endblock %}

{% block link_block %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static "css/usercenter.css" %}" />
        <link rel="stylesheet" href="{% static "css/SingleBoxStyle.css" %}" />
        <link rel="stylesheet" href="{% static "css/taskpagestyle.css" %}" />
        <script src ="{% static "js/reload-button.js" %}" crossorigin="anonymous"></script>
{% endblock %}

{% block nav_block %}
        <c>Task Page</c>
{% endblock %}

{% block banner_block %}

        <div class="box clearfix">
        <div class="nav_box">
                

        </div>
                <div  class="accepttbox">

                        <div class="taskpageboxleft">
                                <form method=POST action="{% url 'task:search_task' %}">
                                {% csrf_token %}
                                Search tasks:
                                 <input type="text" placeholder="Task" name="searched">
                                </form>
                                </div>
                </div>

                
                <center><button class="b2">Refresh</button></center>
                <div id="select" class="saccepttbox">
                        {% for task in Tasks %}
                        <div class="singlebox">
                        {% if task.publisher.picture %}
                                <centre><img src="{{task.publisher.picture.url}}" alt="Profile pic" height="110"/></centre>
                        {% else %}
                                <img src="{% static 'images/Welcome.png' %}" alt="Picture of Welcome" />
                        {% endif %}
                            <p class="review">{{task.task_description}}</p>

                        <div class="info">
                            <h4> <a href="/taskpage/{{ task.slug }}">{{task.task_title}}</a></h4>
                            <em>|</em>
                            <span> {{task.publisher}}</span>
                            </div>

                        <div class="appraise">{{task.release_time}}</div>
                        
                        </div>
                        {% endfor %}
                        
                    


                        
                        <div>
                            
                         <div class="nav4">
                            {% if Tasks.has_previous %}
                            <a href="?page=1">&laquo First Page</a>
                            <a href="?page={{ Tasks.previous_page_number }}">Previous Page</a>
                            {% endif %}
                            {% if Tasks.has_next %}
                            <a href="?page={{ Tasks.next_page_number }}">Next Page</a>
                            <a href="?page={{ Tasks.paginator.num_pages }}">Last Page &raquo</a>
                            {% endif %}
                            {% if Tasks.has_previous %}<a href="?page={{ Tasks.previous_page_number }}">{{ Tasks.previous_page_number }}</a>{% endif %}
                            <a href="#">{{ Tasks.number }}</a>
                            {% if Tasks.has_next %}<a href="?page={{ Tasks.next_page_number }}">{{ Tasks.next_page_number }}</a>{% endif %}
                            <br>{{ Tasks}}<br>

                        
                        </div>

                        
                            


                        </div>
                </div>
                

                


                
                    




        </div>
       

        
{% endblock %}

{% block nav2_block %}
        <a href="{% url 'task:usercenter' %}">User Center </a>
        <a href="{% url 'task:about' %}">About</a>
        
       
{% endblock %}