{% extends 'task/usercenterbase.html' %}
{% load staticfiles %} <!-- New line -->



{% block title_block %}
        Task Page
{% endblock %}

{% block link_block %}
<link rel="stylesheet" href="{% static "css/usercenter.css" %}" />
<link rel="stylesheet" href="{% static "css/SingleBoxStyle.css" %}" />
<link rel="stylesheet" href="{% static "css/taskpagestyle.css" %}" />
{% endblock %}

{% block nav_block %}
        <c>Task Page</c>
{% endblock %}

{% block banner_block %}
        <div class="box clearfix">
        <div class="nav_box">

        </div>
                <div class="accepttbox">

                        <div class="taskpageboxleft">

                                Searchtask:
                                 <input type="text" value="Task:">

                                </div>
                </div>

                <div class="saccepttbox">
                        <div class="singlebox">
                            <img src="{% static 'images/Welcome.png' %}" alt="Picture of Welcome" />
                            <p class="review">Task description</p>

                        <div class="info">
                            <h4> <a href="{% url 'task:taskpageid' %}">Task Title</a></h4>
                            <em>|</em>
                            <span> Username</span>
                            </div>

                        <div class="appraise">Time</div>
                        </div>


                        <div class="singlebox">
                            <img src="{% static 'images/Welcome.png' %}" alt="Picture of Welcome" />
                            <p class="review">Task description</p>

                        <div class="info">
                            <h4> <a href="{% url 'task:taskpageid' %}">Task Title</a></h4>
                            <em>|</em>
                            <span> Username</span>
                            </div>

                        <div class="appraise">Time</div>
                        </div>


                        <div class="singlebox">
                            <img src="{% static 'images/Welcome.png' %}" alt="Picture of Welcome" />
                            <p class="review">Task description</p>

                        <div class="info">
                            <h4> <a href="{% url 'task:taskpageid' %}">Task Title</a></h4>
                            <em>|</em>
                            <span> Username</span>
                            </div>

                        <div class="appraise">Time</div>
                        </div>

                         <div class="nav4">
                            <a href="#">Pervious Page</a>
                            <a href="#">NextPage</a>
                            <p>PageNumber :</p>
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <input type="pagenum">

                        </div>
                    </div>



        </div>



{% endblock %}

{% block nav2_block %}
        <a href="{% url 'task:usercenter' %}">User Center </a>
        <a href="{% url 'task:about' %}">About</a>
{% endblock %}