{% extends 'task/usercenterbase.html' %}
{% load staticfiles %} <!-- New line -->



{% block title_block %}
        Task Page
{% endblock %}

{% block link_block %}
<link rel="stylesheet" href="{% static "css/usercenter.css" %}" />
<link rel="stylesheet" href="{% static "css/SingleBoxStyle.css" %}" />
<link rel="stylesheet" href="{% static "css/taskpagestyle.css" %}" />
{% endblock %}

{% block nav_block %}
        <c>Task Page</c>
{% endblock %}



{% block banner_block %}


       <div class="box clearfix">
        <div class="nav_box">
        
        {%if task %}
            <div class="titleandpbox">
            <p>Task Title: {{ task.task_title }}<p>  
            <img src="{% static 'images/Welcome.png' %}" alt="Picture of Welcome" />
                </div>
        </div>
                <div class="trbox">

                        <div class="tasktrboxleft">
                            <p>Task id: {{ task.task_id }}<p>
                            <p>Task issuer: {{ task.publisher }}<p>
                            <p>Phone number: {{ userprofile.phone_number }}<p>
                            <p>Release time: {{ task.release_time }}<p>
                                    {% if task.completion_state %}
                                    <p>Completion status: Complete</p>
                                    {% else %}
                                    <p>Completion status: Uncomplete</p>
                                    {% endif %}

                                </div>

                        <div class="tasktrboxright">

                                
                                {% if task.receiver.user == request.user %}
                                        {% if task.completion_state %}
                                <form method="POST" action="{% url 'task:complete-task' pk=task.pk %}">
                                        {% csrf_token %}
                                        <button type="submit" class="b2" id="b2">Uncomplete the task</button>
                                </form>
                                <form method="POST" action="{% url 'task:accept-task' pk=task.pk %}">
                                        {% csrf_token %}
                                        <button type="submit" class="b2" id="b2">Unaccept the task</button>
                                </form>
                                        {% elif task.completion_state == False %}
                                <form method="POST" action="{% url 'task:complete-task' pk=task.pk %}">
                                        {% csrf_token %}
                                        <button type="submit" class="b2" id="b2">Complete the task</button>
                                </form>
                                <form method="POST" action="{% url 'task:accept-task' pk=task.pk %}">
                                        {% csrf_token %}
                                        <button type="submit" class="b2" id="b2">Unaccept the task</button>
                                </form>
                                        {% endif %}
                                {% elif task.receiver == None %}
                                <form method="POST" action="{% url 'task:accept-task' pk=task.pk %}">
                                        {% csrf_token %}
                                        <button type="submit" class="b2" id="b2">Accept the task</button>
                                </form>
                                {% endif %}
                                
                                
                                {% endif %}
                                <a href="{% url 'task:taskpage' %}"><button class="b2">Back to the task page</button></a>
                                </div>
                </div>

                <div class="strbox">
                    <div class="testcbox"> This is a task platform in school ,designed to help each other!  </div>
                </div>

        </div>




{% endblock %}

{% block nav2_block %}
        <a href="{% url 'task:usercenter' %}">User Center </a>
        <a href="{% url 'task:about' %}">About</a>
{% endblock %}